:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-VariableFont_wght.ttf);
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit";
  text-align: center;
}

main {
  background-color: var(--white);
  border-radius: 20px;
  width: 320px;
  height: 497px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}

img {
  width: 288px;
  height: 288px;
  margin: 16px;
  margin-bottom: 20px;
  border-radius: 10px;
}

h1 {
  margin: 0px;
  font-size: 22px;
  color: var(--dark-blue);

  height: 56px;

  /* Heading */

  font-family: "Outfit";
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;

  /* Dark Navy */

  color: #1f314f;
  letter-spacing: 0.1875px;
}

p {
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  font-weight: normal;
  position: absolute;
  height: 57px;

  /* Body */

  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1875px;

  color: #7d889e;
}
